<%- include('header') %>
<h2>Control Neopixels Remotely!</h2>
<h3>Select an animation</h3>

<!-- 
changing this to make request from javascript 
<form action="/api/v1/animations" method="POST" target="_self">
-->
<form class="animation-form">
  <select name="name" id="animselect" class="animation-select">
    <option value="blink">Blink</option>
    <option value="cylon">Cylon</option>
    <option value="rainbow">Rainbow</option>
  </select>
  <label for="delay">Delay</label>
  <input type="number" placeholder="(milliseconds)" name="delay" class = "animation-delay">
  <button type="submit">Submit</button>
</form>

<h3>Current Animations:</h3>
<ul class="animations">
  <% for(let i = 0; i < info.length; i++){ %>
    <li class="animation">
      <span><%= info[i].name %></span>
      <span><%= info[i].delay %></span>
      <button type="button" class="rm-animation" id="<%= info[i]._id %>">Remove</button>
    </li>
  <% } %>
</ul>

<script type="text/javascript" src="js/main.js"></script>
<%- include('footer') %>
